@using Isdg.Models
@model NewsViewModel
@if (Model == null)
{    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })    
}
else 
{
    if (Model.Show) {
        <div id="news_id_@Model.News.Id">
            @{
                var newsStyle = Model.News.IsPublished ? "" : "unpublished";  
            }
            <div class="news @newsStyle">        
                <div class="news__info"><span class="news__info_date">@Html.DisplayFor(modelItem => Model.News.AddedDate)</span>
                    <span class="links">
                        @if (Model.CanEditNews) 
                        {
                            <a role="button" title="Edit news" onclick="showForm(this, 'news', 'news__edit')"><span class="fa fa-pencil"></span></a>                
                        }
                        @if (Model.CanSeeDetails) 
                        {
                            <a role="button" title="Show news details" onclick="showForm(this, 'news', 'news__details')"><span class="fa fa-plus"></span></a>
                        }
                        @if (Model.CanDeleteNews)
                        {
                            <a role="button" title="Delete news" onclick="showForm(this, 'news__info', 'news__delete')"><span class="fa fa-trash"></span></a>
                        }
                    </span>
                    @Html.Partial("_Delete", Model.News)
                </div>
                <div class="news__content">
                    @Html.Raw(Model.News.Content)
                    <div class="news__author">Published by @Model.UserName</div>
                </div>                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
                @Html.Partial("_Edit", Model.News)
                @Html.Partial("_Details", Model)
            </div>
        </div>
    }
}



