@model Isdg.Models.MeetingViewModel

<div class="meeting__details hidden">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting.Id)
        </dd>
                
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.AddedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting.AddedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meeting.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Meeting.IP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting.IP)
        </dd>        

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
    <span class="form-actions no-color">        
        <input type="button" value="Cancel" class="btn btn-default btn-sm" onclick="closeFormOnButton('meeting__details', this)" />
    </span>
    <hr />
</div>