@using Isdg.Core.Data
@model Isdg.Models.MeetingListViewModel

@{
    ViewBag.Title = "Related meetings";
    int index = 0;
}

<div class="section-header"><h2>Related meetings</h2></div>

<p>Here, some conferences and workshops on game theory are mentioned. This list is not all-embracing.</p>
@if (Model.CanCreateMeeting) 
{
    @Html.Partial("_Create", new Meeting() { StartDate = DateTime.Now, EndDate = DateTime.Now })
}
else
{
    <hr />
}
<div id="meetings">
    @if (Model.ComingMeetingsList.Count() > 0)
    {
        <div class="meeting__title">The Coming Meetings</div>
        foreach (var item in Model.ComingMeetingsList)
        {        
            @Html.Partial("_Meeting", item);
        }
    }
    @if (Model.PastMeetingsDict.Count() > 0) 
    {                
        <div class="meeting__title">Past Events</div>
        foreach (var meetingsPair in Model.PastMeetingsDict)
        {
            if (index == 0)
            {
                <div class="meeting__year">@meetingsPair.Key</div>            
                foreach (var item in meetingsPair.Value) 
                {
                    @Html.Partial("_Meeting", item);
                    index++;
                }
            }
            else
            {             
                <div class="meeting__collapser">
                    <div class="meeting__year collapser" onclick="showForm(this, 'meeting__collapser', 'meeting__content')">@meetingsPair.Key <span class="fa fa-plus"></span></div>
                    <div class="meeting__content collapser hidden">
                    @foreach (var item in meetingsPair.Value) 
                    {
                        @Html.Partial("_Meeting", item);
                        index++;
                    }
                    </div>
                </div>  
            }           
        }
    }
</div>