@using Isdg.Lib.Extensions;
@model Isdg.Models.ApplicationUserViewModel
<div class="user__edit hidden">
@using (Ajax.BeginForm("Edit", "Users", new AjaxOptions() { UpdateTargetId = "user_id_" + Model.Id }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        <hr />        
        @Html.HiddenFor(model => Model.Id)
        @Html.HiddenFor(model => Model.Email)
        @Html.HiddenFor(model => Model.UserName)
        
        <div class="form-group">
            @Html.Label("Role", new { @class = "control-label col-md-2" })
            <span class=" col-md-10">
                @Html.DropDownListFor(model => model.Role, Model.Role.ToSelectList(), new { @class = "form-control" })                
            </span>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => Model.EmailConfirmed, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => Model.EmailConfirmed)                    
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default btn-sm" />
                <input type="button" value="Cancel" class="btn btn-default btn-sm" onclick="closeFormOnButton('user__edit', this)" />
            </div>
        </div>
        <hr />
    </div>
}
</div>
