@using Isdg.Lib.Extensions;
@model Isdg.Models.ApplicationUserViewModel
<div id="user_id_@Model.Id">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="user">
        <div class="user__info"><span class="user__info_header">@Model.Email</span>
            <span class="links">
                <a role="button" onclick="showForm(this, 'user', 'user__edit')"><span class="glyphicon glyphicon-pencil"></span></a>                
                <a role="button" onclick="showForm(this, 'user__info', 'user__delete')"><span class="glyphicon glyphicon-trash"></span></a>
            </span>
            @Html.Partial("_Delete", Model)
        </div>
        <div class="user__content">
            <p>@Model.UserName</p>
            <p>@Model.Role.ToDescription()</p>
            <p>@Html.DisplayNameFor(x => x.EmailConfirmed) @Html.DisplayFor(x => x.EmailConfirmed)</p>
        </div>        
        @Html.Partial("_Edit", Model)        
    </div>    
</div>



