@using Isdg.Lib.Extensions;
@model Isdg.Models.ApplicationUserViewModel

@{
    ViewBag.Title = "User details";
}

<div class="section-header"><h2>@ViewBag.Title</h2></div>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
                   
        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiveNewsletter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiveNewsletter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Model.Role.ToDescription()
        </dd>
             
    </dl>
</div>

<div class="user__info">
<p>    
    @Html.ActionLink("Back to list", "Index") | @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | <a role="button" onclick="showForm(this, 'user__info', 'user__delete')"><span class="fa fa-trash"></span></a>
</p>
@Html.Partial("_Delete", Model, new ViewDataDictionary { { "goToListOnDelete", true } })
</div>
