@model Isdg.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Use another service</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();    
    if (loginProviders.Count() > 0)
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {                        
                        <button type="submit" class="btn btn-block btn-social btn-@p.AuthenticationType.ToLower()" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title=" Sign in with @p.Caption"><span class="fa fa-@p.AuthenticationType.ToLower()"></span> Sign in with @p.AuthenticationType</button>                        
                    }
                </p>
            </div>
        }
    }
}
