@using Isdg.Core.Data
@model IEnumerable<EmailAccount>

<div id="emailAccounts">
    @foreach (var item in Model)
    {   
        <div class="emailAccount">
        <dl class="dl-horizontal">           
            
            <dt>
                @Html.DisplayNameFor(model => model.First().Email)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.First().DisplayName)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.First().Host)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Host)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.First().Port)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Port)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.First().Username)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.Username)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.First().EnableSsl)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.EnableSsl)
            </dd>
        </dl>
        <a role="button" onclick="showForm(this, 'emailAccount', 'emailAccount__edit')"><span class="glyphicon glyphicon-pencil"></span></a>
        @Html.Partial("_Edit", item)
    </div>
    
    }
</div>