@model Isdg.Models.ImageViewModel
@if (Model == null)
{    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })    
}
else 
{
    if (Model.Show) {        
        <div id="image_id_@Model.Image.Id">    
            @{
                var imageStyle = Model.Image.IsPublished ? "" : "unpublished";  
            }
            <div class="image @imageStyle">        
                <div class="image__info"><span class="image__caption">@Model.Image.Caption</span>
                    <span class="links"> 
                        @if (Model.CanEditImage) 
                        {               
                            <a role="button" title="Edit image caption" onclick="showForm(this, 'image', 'image__edit')"><span class="fa fa-pencil"></span></a>                    
                        }
                        @if (Model.CanDeleteImage) 
                        {
                            <a role="button" title="Delete image" onclick="showForm(this, 'image__info', 'image__delete')"><span class="fa fa-trash"></span></a>
                        }                    
                    </span>
                    @Html.Partial("_DeleteImage", Model.Image)
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
                @Html.Partial("_EditImage", Model.Image)            
                <div class="image__content">
                    <img src="@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/@Model.Image.Path" style="width:auto;height:120px" />                                                           
                </div>                    
            </div>
        </div>
    }
}
