@model Isdg.Models.AlbumsListViewModel

@{
    ViewBag.Title = "Albums";
}

<div class="section-header"><h2>Albums @if (Isdg.Lib.UserHelper.IsAdmin()){<a title="Edit text" href="@Url.Action("EditText", "Album")"><span class="fa fa-pencil"></span></a>}</h2></div>

<hr />
@if (Model.Text != null) 
{ 
    @Html.Raw(Model.Text.Content)
    @*<i>Published by @Model.Text.UserName</i>*@    
}
else
{
    @Html.Partial("_CreateText", new Isdg.Models.TextViewModel() { Key = "Albums" })
}

@if (Model.CanCreateAlbum)
{
    @Html.Partial("_Create", new Isdg.Core.Data.Album())
}
<div id="albums">
    @for (var i = 0; i < Model.Albums.Count; i++)
    {        
        var item = Model.Albums[i];
        if (i > 0)
        {
            item.Collapsed = true;
        }
        @Html.Partial("_Album", item)
    }
</div>
